h2 {
    text-align: center;
}
img{
    align-items: center;
}
body{
    font-family:al-kanz;
    background-image:url("wallpaper.jpeg");
}
h1,h2{
    font-family:al-kanz;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.bismillah{
    color: crimson;
    padding: 25px 0px 25px;
}
.sher{
    color: red;
    text-decoration: none;
    size: 20px;
}
div{
    background: rgba(99, 174, 177, 0.7);
    border-radius: 25px;
    border-style: dashed;
    border-color: darkgoldenrod;
}
h3{
    color: indigo;
}

.unwan{
    padding: 5px 0px 15px;
    text-align: center;
}
nav{
    width: 200px;
  padding: auto;
  margin: auto;
}
